img {
  vertical-align: middle;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
h4 {
  font-weight: normal;
}
a {
  color: #666;
}
#header {
  height: 45px;
  background-color: #006699;
  color: #fff;
  width: 100%;
  position: fixed;
  z-index: 999;
}
#header h4 {
  margin-top: 0;
  text-align: center;
  line-height: 45px;
}
#header a.right {
  color: #fff;
  position: absolute;
  right: 10px;
  top: 14px;
}
#header a.left {
  color: #fff;
  position: absolute;
  left: 10px;
  top: 14px;
}
#header > form {
  padding-left: 30px;
  padding-right: 30px;
}
#header > form input {
  width: 100%;
  font-size: 14px;
  text-align: left;
  height: 30px;
  margin-top: 7px;
  background-color: #fff;
  color: #000;
}
#footor {
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0;
  height: 50px;
  background-color: #006699;
  z-index: 1000;
}
#footor .mui-row {
  background-color: #006699;
  width: 100%;
}
#footor .mui-row > div a {
  padding: 11px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
#footor .mui-row > div a::before {
  display: block;
}
#footor .mui-row > div a.active {
  color: orange;
}
html,
body {
  height: 100%;
}
#main {
  width: 100%;
  height: 100%;
  padding-top: 45px;
  padding-bottom: 50px;
  background-color: #fff;
}
.secrchForm {
  padding: 10px;
  position: relative;
}
.secrchForm input {
  background-color: #fff;
  border: 1px solid #006699;
  text-align: left;
  font-size: 12px;
  height: 30px;
  margin-bottom: 0px;
}
.secrchForm button {
  position: absolute;
  right: 10px;
  height: 30px;
  top: 10px;
  background-color: #006699;
}
.mui-row > div {
  padding: 0 5px;
}
.mui-row > div .product {
  padding: 0 5px;
  box-shadow: 0px 0px 5px #ccc;
  text-align: center;
  padding-bottom: 10px;
  margin-top: 10px;
}
.mui-row > div .product a {
  display: block;
}
.mui-row > div .product a img {
  width: 100%;
}
.mui-row > div .product .text {
  margin-top: 15px;
  font-size: 14px;
  height: 28px;
  line-height: 14px;
  overflow: hidden;
}
.mui-row > div .product .price {
  margin-top: 10px;
  font-size: 12px;
}
.mui-row > div .product .price span {
  color: #f40;
}
.mui-row > div .product .price del {
  margin-top: 15px;
  color: #ccc;
}
#main ul li .mui-navigate-right img {
  width: 60px;
  height: 60px;
  max-width: 100px;
  display: block;
}
#main ul li .mui-navigate-right .mui-media-body {
  font-size: 12px;
  position: relative;
}
#main ul li .mui-navigate-right .mui-media-body .product-name {
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
}
#main ul li .mui-navigate-right .mui-media-body .product-price strong {
  font-style: 20px;
  color: orangered;
}
#main ul li .mui-navigate-right .mui-media-body .product-price del {
  color: #ccc;
  font-size: 12px;
}
#main ul li .mui-navigate-right .mui-media-body .product-num {
  position: absolute;
  right: 20px;
  top: 43px;
}
#main ul li .mui-navigate-right .mui-media-body .product-size {
  font-size: 14px;
}
#main .order {
  z-index: 999;
  background-color: #fff;
  width: 100%;
  position: fixed;
  bottom: 50px;
}
#main .order .order-text {
  float: left;
  padding-left: 20px;
  color: #f40;
  font-size: 14px;
  font-weight: bold;
  padding-top: 7px;
}
#main .order .ordered {
  float: right;
}
.product-size1 {
  padding: 10px;
  font-size: 14px;
  line-height: 30px;
}
.product-size1 span {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
  text-align: center;
}
.product-size1 span.active {
  background-color: #fa672d;
}
.product-count1 {
  padding: 10px;
  font-size: 14px;
  line-height: 29px;
}
.product-count1 .num {
  display: inline-block;
  font-size: 0px;
}
.product-count1 .num .reduce,
.product-count1 .num .add,
.product-count1 .num .count {
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 12px;
}
.product-count1 .num .count {
  padding: 0;
  transform: translateY(0px);
}
