img {
  vertical-align: middle;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
h4 {
  font-weight: normal;
}
#header {
  height: 45px;
  background-color: #006699;
  color: #fff;
  width: 100%;
  position: fixed;
  z-index: 999;
}
#header h4 {
  margin-top: 0;
  text-align: center;
  line-height: 45px;
}
#header a.right {
  color: #fff;
  position: absolute;
  right: 10px;
  top: 14px;
}
#header a.left {
  color: #fff;
  position: absolute;
  left: 10px;
  top: 14px;
}
#header > form {
  padding-left: 30px;
  padding-right: 30px;
}
#header > form input {
  width: 100%;
  font-size: 14px;
  text-align: left;
  height: 30px;
  margin-top: 7px;
  background-color: #fff;
  color: #000;
}
#footor {
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0;
  height: 50px;
  background-color: #006699;
  z-index: 1000;
}
#footor .mui-row {
  background-color: #006699;
  width: 100%;
}
#footor .mui-row > div a {
  padding: 11px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
#footor .mui-row > div a::before {
  display: block;
}
#footor .mui-row > div a.active {
  color: orange;
}
#main {
  width: 100%;
  height: 100%;
  padding-top: 45px;
  padding-bottom: 50px;
  background-color: #fff;
}
#main .secrchForm {
  padding: 10px;
  position: relative;
}
#main .secrchForm input {
  background-color: #fff;
  border: 1px solid #006699;
  text-align: left;
  font-size: 12px;
  height: 30px;
}
#main .secrchForm button {
  position: absolute;
  right: 10px;
  height: 30px;
  top: 10px;
  background-color: #006699;
}
#main .searchHistory {
  padding-left: 10px;
  padding-right: 10px;
}
#main .searchHistory .searchHistoryHead {
  width: 100%;
  height: 20px;
  line-height: 14px;
}
#main .searchHistory .searchHistoryHead > span {
  color: #666;
  font-size: 14px;
}
#main .searchHistory .searchHistoryHead > span:first-child {
  float: left;
}
#main .searchHistory .searchHistoryHead > span:last-child {
  float: right;
}
#main .searchHistory .searchHistoryList {
  margin-top: 10px;
}
#main .searchHistory .searchHistoryList ul {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#main .searchHistory .searchHistoryList ul li {
  padding-top: 8px;
  padding-bottom: 8px;
}
#main .searchHistory .searchHistoryList ul li a {
  color: #666;
  font-size: 14px;
}
#main .searchHistory .searchHistoryList ul li a i {
  float: right;
}
